#containers {
    background-image: url(images/road.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-attachment: fixed;
}
body{
    background-color: aquamarine !important;
}
#imageSe{
    background-color: rgba(252, 252, 193, 0.367);
}

.nav {
    background-color: rgb(195, 196, 200);
    position: fixed !important ;
    width: 100%;
    top: 0;
    z-index: 55;
}

.card {
    width: 10rem;
  min-height: 100px;
    border-radius:  10%  5% !important;
    background-color: rgba(55, 54, 53, 0.301) !important;
    /* background-color: rgba( 0.153) !important; */
    position: relative;

}
.card-box{
    width: 100%;
background-color: rgba(0, 4, 255, 0.137);
display: flex;
align-items: center;
justify-content: center;
position:relative ;
z-index: 5;
}
/* *{
    border: 1px solid green;
} */

p {width: 100%;
color:white ;
    text-align: center;
    height: 30%;
    /* text-decoration: way line-through aqua dotted; */
    border-bottom: rgb(68, 58, 7) 1px solid !important;
    }

.second{
    color: antiquewhite;
    background-color: rgba(160, 162, 162, 0.045) !important;
height: 70%;
width: 100%;
text-align: center;
border-top: solid 1px black;
border-bottom: 1px solid transparent;
    /* transform: translateY(-20px); */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.input{
    display: flex;
    margin-top: 100px;
    margin-bottom: 20px;

}
input{
    background-color: rgba(179, 129, 53, 0.369);
    color:rgb(247, 247, 251);
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 2px;
}
button{
    background-color: rgba(179, 129, 53, 0.369);
    color: white;
    border:solid 1px seagreen;
}
.line{
    width: 100%;
    height: 10px;
    /* position:relative; */
   /* top: 10px; */
   /* z-index: 0; */
   /* position: fixed; */
}
.img{
    position: relative;
    background-size: cover;
    bottom:410px;
    width: 100%;
    height: 50vh;
    background-image: url(images/daoudi-aissa-Pe1Ol9oLc4o-unsplash.jpg);
    background-attachment: fixed;
    z-index: 0;
}
.lins{
    width: 100%;
}
